
  body {
    font-family: Arial;
    font-size: 17px;
    padding: 8px;
  }

  .btn
  {
    height: 30px;
    cursor: pointer;
    align-items: center;
    margin-left: 70%;
    position: fixed;
    top: 40px;
    right: 18px;
    width: 80px;
    height: 40px;
    background-color: skyblue;
    border: none;
  }